---
const year = new Date().getFullYear();
---

<footer class="py-2 mt-auto">
  <div class="container mx-auto px-4">
    <div class="flex flex-col justify-between items-center">
      <div class="text-rosePine-muted text-sm">
        &copy; {year} <a href="https://hitarth.dev" target="_blank" rel="noopener noreferrer">Hitarth Thanki</a>. Made with <span class="text-rosePine-love">❤</span> and Coffee.
      </div>
    </div>
  </div>
</footer>
