---
import Layout from '../layouts/Layout.astro';
import PrerequisitesModal from '../components/PrerequisitesModal.astro';
import CommandGenerator from '../components/CommandGenerator.astro';
import OptionsSelector from '../components/OptionsSelector.astro';
import Explainer from '../components/Explainer.astro';
---

<Layout title="Home">
  <PrerequisitesModal />

  <section class="">
    <div class="max-w-4xl mx-auto text-center">
      <p class="text-xl text-rosePine-text md:text-2xl text- mb-10">
        A single command to take you from empty folder to coding at Hackathons
      </p>
    </div>
    
    <span class="block w-full max-w-4xl mx-auto my-2 h-px bg-rosePine-highlightMed"></span>

    <div class="max-w-5xl flex flex-col items-center mx-auto p-6 rounded-lg">      
      <CommandGenerator />

      <OptionsSelector />
    </div>
  </section>
  
  <span class="block w-full max-w-4xl mx-auto my-2 h-px bg-rosePine-highlightMed"></span>

  <Explainer />

</Layout>